<style>
  .fa {
    text-decoration: none;
    color: white;
  }

  .facebook_btn {
    background: #3B5998;
  }

  .twitter_btn {
    background: #55ACEE
  }

  .linkedin_btn{
    background: #007BB5
  }
</style>
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Corvin Schapöhler</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a routerLink="" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/impressum" routerLinkActive="active">Impressum</a></li>
      <li><a href="mailto:co.schapoehler@gmail.com">Kontakt</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a href="https://www.facebook.com/corvin.schapohler" target="blank"><button class="mdl-mini-footer__social-btn facebook_btn"><span class="fa fa-facebook"></span></button></a>
    <a href="https://twitter.com/cschapoehler" target="blank"><button class="mdl-mini-footer__social-btn twitter_btn"><span class="fa fa-twitter"></span></button></a>
    <a href="www.linkedin.com/in/corvin-schapöhler" target="blank"><button class="mdl-mini-footer__social-btn linkedin_btn"><span class="fa fa-linkedin"></span></button></a>
  </div>
</footer>