<style>
  .mainmenu * {
    background: rgba(0, 0, 0, 0.12);
    text-decoration: none;
    color: white;
  }
</style>
<div class="mainmenu">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a routerLink="" routerLinkActive="active"><span class="mdl-layout-title">Corvin Schapöhler</span></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/blog" routerLinkActive="active">Blog</a>
        <a class="mdl-navigation__link" routerLink="/projects" routerLinkActive="active">Projekte</a>
        <a class="mdl-navigation__link" routerLink="/aboutme" routerLinkActive="active">Über mich</a>
      </nav>
    </div>
  </header>
</div>