<style>
  .mainmenu * {
    background: rgba(0, 0, 0, 0.05);
    color: white;
  }
</style>
<div class="mainmenu" (click)="test()">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Corvin Schapöhler</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/blog">Blog</a>
        <a class="mdl-navigation__link" href="/projects">Projekte</a>
        <a class="mdl-navigation__link" href="/aboutme">Über mich</a>
      </nav>
    </div>
  </header>
</div>